.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.invscampos{
  width:1450px !important;
}




/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 812px) {
       /* Smaller Resolution Desktops and Laptops */

   
}

@media only screen and (max-width: 812px) and (orientation: portrait) {
  /* portrait phones */


  .buttonss{
    width:250px !important;
   height:50px !important;
   font-size: 20px !important;
   overflow: hidden;
   }

   .titles{
    font-size: 60px !important;
  }

  .mtitles{
    font-size: 50px !important;
  }
  .invscampos{
    width:380px !important;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

